In [14]:
import pandas as pd
import numpy as np

In [15]:
pd. set_option("display.max_columns", None)

In [16]:
df = pd.read_csv('./../survey/mHealth dataset.csv')

In [17]:
df

,MID,DAY,SEX,AGE,GEN,PRE,ARE,JOB,MAR,CHI,q1t1,q2c1,q2c2,q2c3,q2c4,q3,q3t6,q4s1,q4s2,q4s3,q4s4,q4s5,q4s6,q4s7,q4s8,q4s9,q4s10,q4s11,q4s12,q4s13,q4s14,q4s15,q5
0,1000002570,2022/6/8 20:58,2,56,6,14,3,8,2,1,H Band,0,1,0,0,4.0,/NA/,3.0,4.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0
1,1000003695,2022/6/8 22:17,1,64,7,13,3,6,2,1,NaN,0,0,1,0,4.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,1000003768,2022/6/8 21:29,2,52,6,11,3,11,1,2,NaN,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000004117,2022/6/8 19:30,2,54,6,13,3,9,2,1,Thealthcare,0,1,0,0,2.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0
4,1000006484,2022/6/8 19:54,1,81,7,13,3,4,2,2,No use,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,1010016943,2022/6/8 21:03,1,52,6,27,5,5,1,2,NaN,1,0,0,0,5.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
837,1010019522,2022/6/8 19:08,1,53,6,11,3,5,1,1,NaN,1,0,0,0,4.0,/NA/,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
838,1010022780,2022/6/8 19:31,2,42,5,23,4,9,1,2,NaN,1,0,0,0,4.0,/NA/,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,2.0,5.0,5.0,5.0,5.0,3.0
839,1010023281,2022/6/8 19:20,2,48,5,3,2,3,2,1,FiNC,1,0,0,0,2.0,/NA/,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,3.0
840,1010036028,2022/6/8 19:13,1,47,5,42,8,4,2,1,Torima,0,1,0,0,3.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,1.0,3.0,3.0,2.0,2.0,3.0

In [18]:
df.drop(labels=['MID', 'DAY', 'PRE', 'ARE'], axis=1, inplace=True)

In [19]:
df

,SEX,AGE,GEN,JOB,MAR,CHI,q1t1,q2c1,q2c2,q2c3,q2c4,q3,q3t6,q4s1,q4s2,q4s3,q4s4,q4s5,q4s6,q4s7,q4s8,q4s9,q4s10,q4s11,q4s12,q4s13,q4s14,q4s15,q5
0,2,56,6,8,2,1,H Band,0,1,0,0,4.0,/NA/,3.0,4.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0
1,1,64,7,6,2,1,NaN,0,0,1,0,4.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2,52,6,11,1,2,NaN,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,54,6,9,2,1,Thealthcare,0,1,0,0,2.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0
4,1,81,7,4,2,2,No use,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,1,52,6,5,1,2,NaN,1,0,0,0,5.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
837,1,53,6,5,1,1,NaN,1,0,0,0,4.0,/NA/,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
838,2,42,5,9,1,2,NaN,1,0,0,0,4.0,/NA/,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,2.0,5.0,5.0,5.0,5.0,3.0
839,2,48,5,3,2,1,FiNC,1,0,0,0,2.0,/NA/,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,3.0
840,1,47,5,4,2,1,Torima,0,1,0,0,3.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,1.0,3.0,3.0,2.0,2.0,3.0

In [20]:
df['q1t1'].value_counts()

No use            41
Healthcare        30
Torima            28
d healthcare      26
asken             25
                  ..
kencom             1
Glorify            1
omuron connect     1
fit                1
maroti             1
Name: q1t1, Length: 149, dtype: int64

In [21]:
df[df['q1t1'].isna()]

,SEX,AGE,GEN,JOB,MAR,CHI,q1t1,q2c1,q2c2,q2c3,q2c4,q3,q3t6,q4s1,q4s2,q4s3,q4s4,q4s5,q4s6,q4s7,q4s8,q4s9,q4s10,q4s11,q4s12,q4s13,q4s14,q4s15,q5
1,1,64,7,6,2,1,NaN,0,0,1,0,4.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2,52,6,11,1,2,NaN,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,40,5,9,1,2,NaN,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,59,6,8,2,2,NaN,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,73,7,2,1,1,NaN,1,0,0,0,6.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,1,47,5,3,2,1,NaN,1,0,0,0,4.0,/NA/,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0
835,2,62,7,8,2,1,NaN,1,0,0,0,6.0,NaN,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,3.0
836,1,52,6,5,1,2,NaN,1,0,0,0,5.0,/NA/,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
837,1,53,6,5,1,1,NaN,1,0,0,0,4.0,/NA/,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
838,2,42,5,9,1,2,NaN,1,0,0,0,4.0,/NA/,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,2.0,5.0,5.0,5.0,5.0,3.0

In [33]:
indexes_to_drop = df[((df['q1t1'].isna()) | (df['q3'].isna()))].index

In [34]:
df2 = df.drop(index=indexes_to_drop)

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 0 to 840
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SEX     368 non-null    int64
 1   AGE     368 non-null    int64
 2   GEN     368 non-null    int64
 3   JOB     368 non-null    int64
 4   MAR     368 non-null    int64
 5   CHI     368 non-null    int64
 6   q1t1    368 non-null    object
 7   q2c1    368 non-null    int64
 8   q2c2    368 non-null    int64
 9   q2c3    368 non-null    int64
 10  q2c4    368 non-null    int64
 11  q3      368 non-null    float64
 12  q3t6    361 non-null    object
 13  q4s1    368 non-null    float64
 14  q4s2    368 non-null    float64
 15  q4s3    368 non-null    float64
 16  q4s4    368 non-null    float64
 17  q4s5    368 non-null    float64
 18  q4s6    368 non-null    float64
 19  q4s7    368 non-null    float64
 20  q4s8    368 non-null    float64
 21  q4s9    368 non-null    float64
 22  q4s10   368 non-null    float64
 23  q4s11   368 non-null    float64
 24  q4s12   368 non-null    float64
 25  q4s13   368 non-null    float64
 26  q4s14   368 non-null    float64
 27  q4s15   368 non-null    float64
 28  q5      368 non-null    float64
dtypes: float64(17), int64(10), object(2)
memory usage: 86.2+ KB

In [37]:
df2

,SEX,AGE,GEN,JOB,MAR,CHI,q1t1,q2c1,q2c2,q2c3,q2c4,q3,q3t6,q4s1,q4s2,q4s3,q4s4,q4s5,q4s6,q4s7,q4s8,q4s9,q4s10,q4s11,q4s12,q4s13,q4s14,q4s15,q5
0,2,56,6,8,2,1,H Band,0,1,0,0,4.0,/NA/,3.0,4.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0
3,2,54,6,9,2,1,Thealthcare,0,1,0,0,2.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0
7,2,60,7,4,1,2,Nike,1,0,0,0,2.0,/NA/,3.0,3.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0
9,2,60,7,6,2,1,Coke on,0,1,0,0,2.0,/NA/,3.0,1.0,3.0,2.0,2.0,2.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0
12,2,65,7,8,2,1,line,0,1,0,0,1.0,/NA/,3.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,2,32,4,7,1,2,Googlefit,0,1,0,0,3.0,/NA/,3.0,5.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,3.0,3.0
830,1,24,3,9,1,2,Healthcare,1,0,0,0,1.0,/NA/,4.0,2.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,2.0,3.0,3.0
832,2,46,5,8,1,1,Torima,1,0,0,0,6.0,/NA/,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,1.0,3.0,2.0,2.0,3.0
839,2,48,5,3,2,1,FiNC,1,0,0,0,2.0,/NA/,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,3.0
840,1,47,5,4,2,1,Torima,0,1,0,0,3.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,1.0,3.0,3.0,2.0,2.0,3.0

In [38]:
df2

,SEX,AGE,GEN,JOB,MAR,CHI,q1t1,q2c1,q2c2,q2c3,q2c4,q3,q3t6,q4s1,q4s2,q4s3,q4s4,q4s5,q4s6,q4s7,q4s8,q4s9,q4s10,q4s11,q4s12,q4s13,q4s14,q4s15,q5
0,2,56,6,8,2,1,H Band,0,1,0,0,4.0,/NA/,3.0,4.0,4.0,4.0,2.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0
3,2,54,6,9,2,1,Thealthcare,0,1,0,0,2.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0
7,2,60,7,4,1,2,Nike,1,0,0,0,2.0,/NA/,3.0,3.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0
9,2,60,7,6,2,1,Coke on,0,1,0,0,2.0,/NA/,3.0,1.0,3.0,2.0,2.0,2.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0
12,2,65,7,8,2,1,line,0,1,0,0,1.0,/NA/,3.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,2,32,4,7,1,2,Googlefit,0,1,0,0,3.0,/NA/,3.0,5.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,3.0,3.0
830,1,24,3,9,1,2,Healthcare,1,0,0,0,1.0,/NA/,4.0,2.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,2.0,3.0,3.0
832,2,46,5,8,1,1,Torima,1,0,0,0,6.0,/NA/,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,1.0,3.0,2.0,2.0,3.0
839,2,48,5,3,2,1,FiNC,1,0,0,0,2.0,/NA/,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,3.0
840,1,47,5,4,2,1,Torima,0,1,0,0,3.0,/NA/,4.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0,1.0,3.0,3.0,2.0,2.0,3.0